body{
    font-family: Arial, Helvetica, sans-serif;
}

.header ul{
    background-color: rgb(0,0,0);
    width: 100%;
    position: fixed;
    top: 0;
    display: inline-block;
}

.header li{
    display: inline-block;
    padding: 20px;
    /* outline: #FF8B38 solid 1px; */
}

.header a{
    font-size:15px;
    text-decoration: none;
    color:#fff;
}

.header img{
    height: 30px;
    margin:0 500px 0 80px;
    vertical-align: bottom;
}


.main1{
	background-image: url(img/main_bg.png);
    height: 600px;
    padding-top: 1px;
    margin-top: 69px;
}

.main1 img{
    margin: 80px 0px 20px 100px;
}

.main1 h1{
    margin: 0px 0px 35px 100px;
    color:#fff;
    font-size: 40px;
    line-height: 1.25;
    width:600px;
}

.main1 hr{
    width:5%;
    margin:0px 0px 0px 100px;
    size: 10;
    color:#fff;
}

.main1 h2{
    margin: 60px 0px 20px 100px;
    color:#fff;
    font-size: 12px;
    line-height: 1.5;
    width:600px;
}

.main1 a{
    display: block;
    margin: 20px 0px 0px 100px;
    height:45px;
    width: 130px;
    border: solid 1px;
    border-color: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color:#fff;
}


.main2{
    background-color:#fff;
}

.main2 .word{
    display: inline-block;
    width:400px;
    margin: 20px 0 20px 100px;
}

.main2 .icon{
    display: inline-block;
}

.main2 h1{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}  

.main2 h2{
    color: #86878B;
    font-size: 12px;
    line-height: 1.5;
}  

.main2 a{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin:0 20px;
    background-image: url(img/social_media_icons_big.png);
    background-size: 120px auto;
}

.main2 .icon1{
    background-position: 120px 0px;
}

.main2 .icon2{
    background-position: 120px -60px;
}

.main2 .icon3{
    background-position: 120px -120px;
}

.main2 .icon4{
    background-position: 120px -180px;
}

.main2 .icon5{
    background-position: 120px -240px;
}

.main2 .icon6{
    background-position: 120px -300px;
}

.main2 .icon7{
    background-position: 120px -360px;
}


.main3 li{
    float:left;
}

.main3 ul{
    overflow: hidden;
    background-color: #F5F5F5;
}

.main3 .left{
    margin:100px 100px 100px 100px;
}

.main3 .left a{
    display: block;
    text-decoration: none;
    height:80px;
    width:80px;
    line-height: 80px;
    text-align: center;
    border:solid 0.1px;
    border-color: #fff;
    border-radius: 5px;
    background-color: #333333;
    color: #fff;
    font-size: 12px;
    transition: background-color 0.5s ease;
}

.main3 .left a:hover{
    background-color: #FF8B38;
    transition: background-color 0.5s ease;
}

.main3 .middle{
    width:500px;
    margin:100px 0px 100px 0px;
}

.main3 .middle h1{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 50px;
}

.main3 .middle h2{
    color: #86878B;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.main3 .middle a{
    display: block;
    text-decoration: none;
    height:45px;
    width: 130px;
    border-radius:5px;
    line-height: 45px;
    text-align: center;
    background-color: #FF8B38;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}


.main3 .right{
    width:200px;
    margin:100px 100px 100px 50px;
}



.main4 .left{
    margin:50px 0 50px 70px;
}

.main4 .right{
    width:500px;
    margin:70px 50px 50px 50px;
}

.main4 .icon1 .word, .icon2 .word{
    display: inline-block;
    width:420px;
    margin-left:10px;
}

.main4 li{
    float:left;
}

.main4 ul{
    overflow: hidden;
}

.main4 .right .title{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}

.main4 .right hr{
    width:10%;
    size: 10;
    color:#FF8B38;
    margin:0 0 0 0;
}

.main4 .right .article{
    margin-top: 30px;
    color: #86878B;
    font-size: 12px;
    line-height: 1.5;
}

.main4 .icon1 h1, .icon2 h1{
    font-size: 14px;
    font-weight: bold;
    margin:30px 0 5px 0;
}

.main4 .icon1 h2, .icon2 h2{
    font-size: 12px;
    color: #86878B;
}



.main5 li{
    float:right;
}

.main5 {
    background-color: #F5F5F5;
    overflow: hidden
}

.main5 .right{
    margin:50px 70px 50px 0;
}

.main5 .left{
    width:500px;
    margin:70px 50px 50px 50px;
}

.main5 .left h1{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom:30px;
}

.main5 .left hr{
    width:10%;
    size:10;
    color:#FF8B38;
    margin: 0 0 0 0;
}

.main5 .left h2{
    margin-top: 30px;
    color: #86878B;
    font-size: 12px;
    line-height: 1.5;
}

.main5 .left h3{
    margin-top: 40px;
    color: #86878B;
    font-size: 12px;
    line-height: 1.5;
}


.main6 .title{
    text-align: center;
    margin: 60px 0 20px 0;
    font-size: 35px;
}

.main6 hr{
    width:5%;
    text-align: center;
    size: 10;
    color:#FF8B38; 
}

.main6 .sentence{
    margin:20px 0 40px 0;
    text-align: center;
    color: #86878B;
    font-size: 12px;
}

.main6 li{
    float:left;
    width:300px;
    text-align: center;
    margin:40px 50px 40px 60px;
}

.main6 h1{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
}

.main6 h2{
    color: #86878B;
    font-size: 12px;
    line-height: 1.5;
}

.main6 ul{
    overflow: hidden;
}



.main7{
    background-color: #F5F5F5;
}

.main7 .title{
    padding: 60px 0 20px 0;
    color:#000;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.main7 hr{
    width:5%;
    text-align: center;
    size: 10;
    color:#FF8B38;
}

.main7 .sentence{
    margin: 30px 0 40px 0;
    text-align: center;
    color: #86878B;
    font-size: 12px;
}

.main7 .group .word{
    display: inline-block;
    vertical-align: top;
    padding:20px 0px 10px 10px;
}

.main7 .group{
    margin-top: 40px;
}

.main7 li{
    float:left;
    width:280px;
    margin:40px 70px 70px 70px;
}

.main7 h1, h3{
    color: #86878B;
    font-size: 12px;
    line-height: 1.5;
}

.main7 h2{
    font-size: 15px;
    font-weight: bold;
}

.main7 ul{
    overflow: hidden;
}

.main7 img{
    /* margin-top: 40px; */
}



.main8{
	background-image: url(img/down_bg.png);
    height: 250px;
}

.main8 h1{
    padding:40px 0 20px 0;
    text-align: center;
    color:#fff;
    font-size: 40px;
}

.main8 hr{
    width:5%;
    text-align: center;
    size: 10;
    color:#fff;
}

.main8 h2{
    text-align: center;
    color:#86878B;
    font-size: 12px;
    margin-top: 20px;
}

.main8 a{
    display: block;
    margin: 30px auto;
    height:45px;
    width: 130px;
    border: solid 1px;
    border-color: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color:#fff;
}


.main9{
    height: 80px;
    background-color: #000;
}

.main9 .icon{
    text-align: center;
}

.main9 .icon a{
    display: inline-block;
    width: 30px;
    height:30px;
    margin:20px 10px 5px 10px;
    background-size:60px auto;
    background-image: url(img/social_media_icons_small.png);
}

.main9.icon  .icon1{  
    background-position: 120px 0px;
}

.main9 .icon .icon2{
    background-position: 120px -30px;
}

.main9 .icon .icon3{
    background-position: 120px -60px;
}

.main9 .icon .icon4{
    background-position: 120px -90px;
}

.main9 .icon .icon5{
    background-position: 120px -120px;
}

.main9 .icon .icon6{
    background-position: 120px -150px;
}

.main9 .icon .icon7{
    background-position: 120px -180px;
}